<?xml version="1.0"?>
<!--
/**
 * Copyright Wagento Creative LLC ©, All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <zendesk>
            <ticket>
                <frontend>
                    <customer_account_order_ticket>1</customer_account_order_ticket>
                </frontend>
            </ticket>
            <zendesk_m2app>
                <order_qty_limit>5</order_qty_limit>
            </zendesk_m2app>
        </zendesk>
    </default>
</config>
