/**
 * Copyright Wagento Creative LLC ©, All rights reserved.
 * See COPYING.txt for license details.
 */

@zendesk-icons-admin__font-name-path: '@{baseDir}Wagento_Zendesk/fonts/z-logo';
@zendesk-icons-admin__font-name: 'z-logo';

.lib-font-face(
  @family-name: @zendesk-icons-admin__font-name,
  @font-path: @zendesk-icons-admin__font-name-path,
  @font-weight: normal,
  @font-style: normal
);

.admin__menu .item-zendesk-group.parent.level-0 > a:before {
  font-family: @zendesk-icons-admin__font-name;
  content: "\e900";
}
