<?xml version="1.0"?>
<!--
/**
 * Copyright Wagento Creative LLC ©, All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Main Zendesk category menu -->
        <add id="Wagento_Zendesk::zendesk_group"
             title="Zendesk"
             module="Wagento_Zendesk"
             resource="Wagento_Zendesk::zendesk"
             sortOrder="40"
        />

        <!-- Items for Zendesk category -->
        <add id="Wagento_Zendesk::zendesk_config"
             title="Configuration"
             module="Wagento_Zendesk"
             parent="Wagento_Zendesk::zendesk_group"
             resource="Wagento_Zendesk::zendesk_config"
             action="adminhtml/system_config/edit/section/zendesk"
        />

        <add id="Wagento_Zendesk::zendesk_ticket"
             title="Tickets"
             module="Wagento_Zendesk"
             parent="Wagento_Zendesk::zendesk_group"
             resource="Wagento_Zendesk::zendesk_ticket"
             action="zendesk/ticket"
        />
    </menu>
</config>
