/**
 * Copyright Wagento Creative LLC ©, All rights reserved.
 * See COPYING.txt for license details.
 */

// BASIC STYLES
.pull-right {
  float: right !important;
}

.text-muted {
  color: #999;
}

// CALLOUT
.bs-callout {
  margin-bottom: 10px;
  padding: 5px 15px;
  border: 1px solid #eee;
  border-radius: 1px;
}

.bs-callout.left {
  border-left-width: 5px;
}

.bs-callout.right {
  border-right-width: 5px;
  background: #f5f5f5;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout + .bs-callout {
  margin-top: -5px;
}

.bs-callout-default.left {
  border-left-color: #777;
}

.bs-callout-default.left h4 {
  color: #777;
}

.bs-callout-primary.left {
  border-left-color: #428bca;
}

.bs-callout-primary.left h4 {
  color: #428bca;
}

.bs-callout-success.left {
  border-left-color: #5cb85c;
}

.bs-callout-success.left h4 {
  color: #5cb85c;
}

.bs-callout-danger.left {
  border-left-color: #d9534f;
}

.bs-callout-danger.left h4 {
  color: #d9534f;
}

.bs-callout-warning.left {
  border-left-color: #f0ad4e;
}

.bs-callout-warning.left h4 {
  color: #f0ad4e;
}

.bs-callout-info.left {
  border-left-color: #5bc0de;
}

.bs-callout-info.left h4 {
  color: #5bc0de;
}

.bs-callout-default.right {
  border-right-color: #777;
}

.bs-callout-default.right h4 {
  color: #777;
}

.bs-callout-primary.right {
  border-right-color: #428bca;
}

.bs-callout-primary.right h4 {
  color: #428bca;
}

.bs-callout-success.right {
  border-right-color: #5cb85c;
}

.bs-callout-success.right h4 {
  color: #5cb85c;
}

.bs-callout-danger.right {
  border-right-color: #d9534f;
}

.bs-callout-danger.right h4 {
  color: #d9534f;
}

.bs-callout-warning.right {
  border-right-color: #f0ad4e;
}

.bs-callout-warning.right h4 {
  color: #f0ad4e;
}

.bs-callout-info.right {
  border-right-color: #5bc0de;
}

.bs-callout-info.right h4 {
  color: #5bc0de;
}

// CHAT
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

